{% load static from staticfiles %}

<!doctype html>
<html>
<head>
    <title>ArtistsDecoded</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/registertemp.css' %}">


	
</head>

<body>
<div class="row">
		<div class="col-xs-12">
			
			<div class="title"><i>ArtistsDecoded</i></div>
			
		</div>
		</div>

	<hr>


	<div class="container">
	
		<br>


	<div class="row">
		<div class="col-xs-12">
		<div class="form">
		
		
		<h4><img class="registerimage" src="/static/img/Registertemp/registertemp.jpg" alt="register" height="35px"><strong>Register Your Services</strong></h4>
		<p>Be the first to know when we launch this site!<p>
		
		<form action="/registerprofessional/" method="post">
			{% csrf_token %}
			{{ form }}
			<br>
			<input type="submit" value="Submit" />
		</form>

	</div><!--form-->
	</div><!--col-->
	</div><!--row-->
	
	</div><!--container-->

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>


</html>
