{% extends 'layouts/base.html' %}
{% load static from staticfiles %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

  <style>
    body {
      background-image: url('{% static 'img/Homepage/Arianna1.jpg' %}');
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <!--row 1-->
    <header class="row">
      <div class="col-xs-3">
        <div id="title">
          <p>
            <a href="{% url 'home' %}"><em><span>Artists</span>Decoded</em></a>
          </p>
        </div>
      </div>

      <div class="col-xs-6"></div>

      <div id="loginbar">
        <div class="col-xs-1">
          <div id="createprofile">
            <p>
              <a href="{% url 'professional_list' %}" class="forartists">Artists</a>
            </p>
          </div>
        </div>

        <div class="col-xs-1">
          <div id="signup">
            <p>
              <a href="{% url 'register_user' %}">Register</a>
            </p>
          </div>
        </div>

        <div class="col-lg-1">
          <div id="login">
            <p>
              <a href="{% url 'login' %}">Log In</a>
            </p>
          </div>
        </div>
      </div>
    </header>

    <!--row 2-->
    <div class="row">
      <div class="col-md-12 center-block">
        <div class="welcome_text_div center-block"></div>
        <div class="how_it_works_box text-center">
          <a href="{% url 'how_it_works' %}" id="how_it_works">How It Works</a>
        </div>
      </div>
    </div>

	  <br><br><br>

  <div class="row">

		<div class="col-md-12 center-block">
			<div class="searchbardiv text-center">
				<form action="{% url 'search_results' %}" method="post">
					{% csrf_token %}

					<select class="selectprofession">
						<option>What Are You Looking For?</option>
						<option>Hair Stylist</option>
						<option>Henna Artist</option>
						<option>Make-up Artist</option>
						<option>Photographer</option>
						<option>Videographer</option>
					</select>

					<input id="locationbox" type="text" placeholder="Where?"/>
					<input class="datebox" type="date" name="Date From?"/>
					<input class="datebox" type="date" name="Date To?"/>

					<select class="selectduration">
					<option>Duration</option>
					<option>0-1 hr</option>
					<option>1-2 hr</option>
					<option>2-3 hr</option>
					<option>Half day</option>
					<option>Full day</option>
					</select>

					<input id="search" type="submit" value="Search" />
				</form>
			</div>
		</div>
	</div>


  </div>
  <!-- end container -->
{% endblock %}
