{% extends 'layouts/base.html' %}
{% load static from staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/howitworks.css' %}">

{% endblock %}

{% block content %}

	<!--row 1-->
	<header class="row">
		<div class="col-xs-3">
			<div id="title">
				<p>
					<a href="{% url 'home' %}"><em><span style="color=#465C63">Artists</span> Decoded</em></a>
				</p>
			</div>
		</div>

		<div class="col-xs-6"></div>

		<div id="loginbar">
			<div class="col-xs-1">
				<div id="createprofile">
					<p>
						<a href="/professionals" class="forartists">Artists</a>
					</p>
				</div>
			</div>

			<div class="col-xs-1">
				<div id="signup">
					<p>
						<a href="/registeruser">Customers</a>
					</p>
				</div>
			</div>

			<div class="col-lg-1">
				<div id="login">
					<p>
						<a href="/login">Log In</a>
					</p>
				</div>
			</div>
		</div>
	</header>
<div class="container">

<img class="howitworksimage" src="/static/img/Homepage/howitworks.png" alt="How It Works" width="100%">

</div>

{% endblock %}