body {

		margin:0;
		font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
		color: black;
		background-size: auto 700px;
		background-repeat:no-repeat;
		background-position: top center;
	}

.container {
	margin-bottom: 50px;
}

header {
	padding-top: 10px;
}

#login {
	margin-right: 10px;
}

#loginbar {
	font-size: 1.15em;
	font-weight: bold;
}


a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	text-decoration: none;
}

#title {
	font-size: 2em;
}

#title span {
	color: #2A3138;
}

.forartists:link {
	padding: 2px;
	margin-left: 12px;
}

.welcome_text_div {
	background-color: none;
	width: 800px;
	height: 300px;
	position: relative;
	margin-top: 100px;
}

#welcome_text {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
}

#how_it_works {
	position: relative;
	font-weight: bold;
	font-size: 2.5em;
}

#how_it_works:link {
	color: white;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.5);
}

#how_it_works:visited {
	color:white;
}

#how_it_works:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.searchbardiv {
	width: 100%;
	height: 170px;
}

.selectprofession {
	height: 26px;
	margin-right: -4px;
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

#locationbox {
	margin-right: -4px;
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

.datebox {
	margin-right: -4px;
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

.selectduration {
	height: 26px;
	margin-right: -4px;
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

#search {
	-moz-box-shadow:inset 0px 1px 0px 0px #313940;
	-webkit-box-shadow:inset 0px 1px 0px 0px #313940;
	box-shadow:inset 0px 1px 0px 0px #313940;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #24292b), color-stop(1, #32393d));
	background:-moz-linear-gradient(top, #24292b 5%, #32393d 100%);
	background:-webkit-linear-gradient(top, #24292b 5%, #32393d 100%);
	background:-o-linear-gradient(top, #24292b 5%, #32393d 100%);
	background:-ms-linear-gradient(top, #24292b 5%, #32393d 100%);
	background:linear-gradient(to bottom, #24292b 5%, #32393d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#24292b', endColorstr='#32393d',GradientType=0);
	background-color:#24292b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #293238;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:3px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #323840;
	-webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

#search:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #32393d), color-stop(1, #24292b));
	background:-moz-linear-gradient(top, #32393d 5%, #24292b 100%);
	background:-webkit-linear-gradient(top, #32393d 5%, #24292b 100%);
	background:-o-linear-gradient(top, #32393d 5%, #24292b 100%);
	background:-ms-linear-gradient(top, #32393d 5%, #24292b 100%);
	background:linear-gradient(to bottom, #32393d 5%, #24292b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32393d', endColorstr='#24292b',GradientType=0);
	background-color:#32393d;
}

#search:active {
	position:relative;
	top:1px;
}