{% extends  'layouts/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sign in to your account
        </div>
        <div class="panel-body">
          <form action="" method="post">

            {% csrf_token %}
            {% for field in form %}
              {% include "partials/form_field.html" %}
            {% endfor %}

            <button type="submit" class="btn btn-primary">Login</button>
          </form>

          <h3>Problems Signin In?</h3>
          <ul class="list-unstyled">
            <li><a href="{% url 'password_reset' %}">I don't remember my password</a></li>
            {# <li><a href="">I haven't received activation e-mail</a></li> #}
            <li><a href="{% url 'register_user' %}">I don't have account</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
