{% extends "layouts/base.html" %}
{% load i18n admin_static %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Sign in to your account</div>

    <div class="panel-body">
        {% if form.errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        <p>
            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
        </p>

        <form action="" method="post">{% csrf_token %}
            {% include 'partials/form_field.html' with field=form.old_password %}
            {% include 'partials/form_field.html' with field=form.new_password1 %}
            <button class="btn btn-primary" type="submit">{% trans 'Change my password' %}</button>
        </form>
    </div>
</div>
{% endblock %}
