body {
		
		margin:0;
		font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
		color: black;
	}

#title {
	padding-top: 75px;
	font-size: 65px;
}

#welcomemessage {
	font-size: 50px;
}

.welcometext {
	padding-top: 10px;
	font-size: 16px;
	max-width: 350px;
	margin: 0 auto !important;
}

.btn-primary {
	background:black;
	border:black !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333333 !important;
}