body {
		color: black;
	}

.btn-primary {
	background:black;
	border:black !important;
	width:100%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333333 !important;
}	

.navbar {
	padding-left: 100px !important;
	background-color: black;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}

.container {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.profilesummary p{
	font-size: 1.5em;
}

