body {
		color: black;
	}

.btn-primary {
	background:black;
	border:black !important;
	width:100%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333333 !important;
}

#loginbar {
	font-size: 1em;
	font-weight: bold;
	color: white;
}

a.toplink:link {
    color: #FFFFFF !important;
}

a.toplink:visited {
    color: #FFFFFF;
}

a.toplink:hover {
    text-decoration: none;
}

a.tabs:link {
	color: #000000;
}

a.tabs:visited {
	color: #000000;
}

a.tabs:hover {
	text-decoration: none;
}

#title {
	padding-left: 20%;
	font-size: 2em;
}

.profile:link {
    border: 1px solid #000000;
    padding: 2px;
}

#profile {
    padding-top: 10px;
    padding-right: 20%;
}

.navbar {
	padding-left: 100px !important;
	background-color: black;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}

.container {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.profilesummary p{
	font-size: 1.5em;
}

#profile {
    text-position: right;
    padding-right: 10px;
}