body {
		
		margin:0;
		font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
		color: black;
	}

.container {
	margin-bottom: 50px;
}

.title {
	margin-top: 100px;
	font-size: 65px;
	margin-left: 5%;
}

.registerimage {
	margin-right: 30px;
}

.form {
	width:300px;
	margin:0 auto !important;
}

.form input[type=text] {
    width: 90%;
}

.form input[type=email] {
    width: 90%;
}

.welcometext {
	padding-top: 10px;
	font-size: 16px;
	max-width: 350px;
	margin: 0 auto !important;
}

.btn-primary {
	background:black;
	border:black !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #333333 !important;
}

.form input[type=submit] {
	background:black;
	border:black !important;
	margin-top: 20px;
	color: white;
}

.form input[type=submit]:hover, .form input[type=submit]:focus, .form input[type=submit]:active, .form input[type=submit].active, .open > .dropdown-toggle.form input[type=submit] {
    background: #333333 !important;
    margin-top: 20px;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}