{% load static from staticfiles %}

<!doctype html>
<html>
<head>
    <title>ArtistsDecoded</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/registertemp.css' %}">


	
</head>

<body>
<div class="row">
		<div class="col-xs-12">
			
			<div class="title"><i>ArtistsDecoded</i></div>
			
		</div>
		</div>

	<hr>


	<div class="container">
	
		<br></br>


	<div class="row">
		<div class="col-xs-12">
		<div class="form">
		
		
		<h4><img class="registerimage" src="/static/img/Registertemp/registertemp.jpg" alt="register" height="35px"><strong>Register Your Services</strong></h4>
		<p>Be the first to know when we launch this site!<p>
		

		<form role="form">

			<div class="form-group">
			<Select name="Profession" multiple>
			<option>*Select from below:</option>
			<option value="make-up artist">Make-up Artist</option>
			<option value="mehndi artist">Mehndi Artist</option>
			<option value="hair stylist">Hair Stylist</option>
			<option value="photographer">Photographer</option>
			<option value="dhol group">Dhol Group</option>
			</Select>
			</div>

			<div class="form-group">
    		<label class="sr-only" for="firstname">First name:</label>
    		<input type="name" class="form-control" id="fname" placeholder="First name">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="surname">Surname:</label>
    		<input type="name" class="form-control" id="sname" placeholder="Surname">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="email">Email address:</label>
    		<input type="email" class="form-control" id="email" placeholder="Email">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="number">Phone number:</label>
    		<input type="text" class="form-control" id="phone" placeholder="Phone number">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="instagramid">Instagram ID:</label>
    		<input type="text" class="form-control" id="instagram" placeholder="Instagram ID">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="facebookid">Facebook ID:</label>
    		<input type="text" class="form-control" id="facebook" placeholder="Facebook ID">
  			</div>

  			<div class="form-group">
    		<label class="sr-only" for="twitterid">Twitter ID:</label>
    		<input type="text" class="form-control" id="twitter" placeholder="Twitter ID">
  			</div>

			<p class="selectinstructions">*Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>

			<div class="checkbox">
    		<label><input type="checkbox">I have read &amp; agree with the <a href="/termsandconditions">terms and conditions</a></label>
  			</div>

			<button type="submit" class="btn btn-primary btn-md" rel="contact_form1" id="contact_form1_button">Submit</button>

		</form>	



		
	</div><!--form-->
	</div><!--col-->
	</div><!--row-->
	
	</div><!--container-->

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>


</html>
