<!doctype html>
<html>
<head>
  {% load static from staticfiles %}
  <title>{% block title %}ArtistsDecoded{% endblock %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
  {% block extrahead %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/web/js/bootstrap.min.js"></script>
</body>
</html>
